
<main class="container-fluid col-md-12">

  <div class="error text-center">
    <h4>{{vm.errors}}</h4>
  </div>
  <section ng-repeat="post in vm.posts | orderBy : vm.sort.criteria | filter : vm.search.query" class='col-md-10 col-md-offset-1'>
    <article class='post row'>


      <div class="cover-image col-md-2">
        <a ng-href={{post.image_url}} target='blank'><img class="img-responsive" ng-src={{post.image_url}} alt=""></a>

        <div class="text-center"><h4>
        <span ng-click="vm.upVote(post)" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
        <span ng-bind="post.votes"></span>
        <span ng-click="vm.downVote(post)" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </h4></div>
      </div>
      <div class="col-md-9">
        <h4>{{post.title}}</h4>
        <h5>Posted by: {{post.username}}</h5>
        <p>{{post.description}}</p>

        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"> </span> {{post.created_at | amCalendar}} | <span ng-click="vm.showComments(post)" class="glyphicon glyphicon-comment" aria-hidden="true"></span> View
          <ng-pluralize count="post.comments.length" when="{'1': 'Comment', 'other': 'Comments'}"> </ng-pluralize>
          ({{post.comments.length}}) | <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="modal" data-target=".comment-modal" ng-click="vm.passActivePost(post)"></span> Add A Comment <span ng-show="vm.showDelete(post)" ng-click="vm.deletePost(post)">| <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete This Post</p></span>

          <div class="comments" ng-repeat="comment in post.comments" ng-show="post.commentShow">
            <p><strong><span ng-bind="comment.username"></span> says:</strong> <span ng-bind="comment.comment"></span></p>
            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"> </span> {{comment.created_at | amCalendar}} <span ng-show="vm.showDelete(comment)" ng-click="vm.deleteComment(comment, post)">| <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span> Delete This Comment</p></span>
          </div>
        </div>
      </article>
    </section>

    <!-- Comment Form Modal -->
    <div class="modal fade comment-modal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="commentModalLabel">Make a Comment</h4>
          </div>
          <div class="modal-body">
            <form name="commentForm" novalidate ng-submit="vm.commentFormSubmit(commentForm)">
              <fieldset class="form-group" ng-class="{'has-error': commentForm.text.$invalid && commentForm.text.$touched, 'has-success': commentForm.text.$valid}">
                <label class="control-label">Comment</label>
                <textarea type="text" class="form-control" name="text" ng-model="vm.comment.comment" required placeholder="Enter a Comment"></textarea>
                <div ng-messages="commentForm.text.$error" ng-if="commentForm.text.$touched">
                  <p ng-message="required" class="control-label">Comment is required.</p>
                </div>
              </fieldset>

            <div class="modal-footer">
              <button type="button" class="btn cancel-button" data-dismiss="modal" ng-click="vm.commentFormClose(commentForm)">Close</button>
              <button type="submit" class="btn submit-button" data-toggle="modal" data-target=".comment-modal" ng-disabled="commentForm.$invalid">Submit Comment</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>
