<main class="container-fluid col-md-12">
  <section ng-init="vm.sort = '-votes'" ng-repeat="datum in data | orderBy : vm.sort | filter : search" class='col-md-10 col-md-offset-1'>
    <article class='post jumbotron row'>
      <h4>{{datum.title}} | <span ng-click="upVote(datum)" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><span ng-class="{posVotes: datum.votes > 0, negVotes: datum.votes < 0 }"ng-bind="datum.votes"></span><span ng-click="downVote(datum)" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>

      <div class="thumbnail col-md-3">
        <a ng-href={{datum.image}} target='blank'><img ng-src={{datum.image}} alt=""></a>
      </div>
      <div class="col-md-9">
        <h5>Posted by: {{datum.author}}</h5>
        <p>{{datum.description}}</p>

        <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"> </span> <timeless time="datum.date"></timeless> | <span ng-click="revealComments(datum)" class="glyphicon glyphicon-comment" aria-hidden="true"></span> View
          <ng-pluralize count="datum.comments.length" when="{'1': 'Comment', 'other': 'Comments'}"> </ng-pluralize>
          ({{datum.comments.length}}) | <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="modal" data-target=".comment-modal" ng-click="makeAComment(datum)"></span> Add a comment</p>

          <comments />
          </div>
        </div>
      </article>
    </section>
  </main>
