body {
    background: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
}

.account-portal {
  margin-top: 100px
}

.navbar {
  background: rgb(205, 10, 28);
  padding-top: 30px;
  /*padding-bottom: 10px;*/
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}


nav .dropdown-menu li {
  cursor: pointer;
}

/*nav input {
  margin-bottom: 10px;
}*/

.navbar-brand {
  padding-left: 30px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  font-size: 4em;
  font-weight: lighter;
}

.navbar-default .navbar-brand {
  color: white;
  /*margin*/
}

.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-brand:hover{
  color:rgb(232, 232, 232);
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.1em;
  /*padding-bottom: 0px;*/
}

.navbar-default .navbar-nav>li>a:hover {
  color:rgb(232, 232, 232);
}

.navbar-default .navbar-nav>li>a:focus {
color: white;
}

.navbar-default .navbar-text {
  color: white;
  font-size: 1.1em;
  padding: 10px 15px;
  margin: 0px;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;
  color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  border: none;
  background: rgb(205, 10, 28);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover  {
  background: rgb(205, 10, 28);
  color: white;
  box-shadow: none;
}

@media (max-width: 767px){

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color:rgb(232, 232, 232);
    }
}

.nav>li>p {
  /*padding: 0px 15px;*/
}

.navbar-form {
  border: none;
  /*width: 70%;*/
}

.modal-header {
  background: rgb(205, 10, 28);
  color: white
}

.submit-button {
  background: rgb(205, 10, 28);
  color: white;
}

.submit-button:hover {
  background: rgb(171, 67, 63);;
  color: white;
}

.cancel-button {
  color: white;
}

.cancel-button:hover {
  background: rgb(223, 228, 224);
  color: white;
}


main, .account-portal {
  margin-top: 125px;
}

.post img {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(193, 193, 193);;

}

.post {
  background: white;
  border-top: 2px solid rgb(205, 10, 28);
  padding: 15px;
  margin-bottom: 50px;
}

/*.posVotes {
  color: green
}

.negVotes {
  color: red;
}*/

.post p {
  font-size: 1em;
}

.jumbotron {
  background-color: rgb(236, 237, 252);
  padding: 20px;
}

.portal-bg {
  background-color: rgb(77, 77, 77);
}

.post .glyphicon {
  font-size: 1.1em;
  color: rgb(205, 10, 28);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.logo-up {
  font-weight: normal;
}

.glyphicon:hover {
  cursor: pointer;
}

.glyphicon-arrow-up:active {
  color: green;
}

.glyphicon-arrow-down:active {
  color: red;
}

.error {
  color: rgb(171, 67, 63);
}

.ng-move {
  animation: fadeIn .3s;
}

.ng-move-stagger {
  animation-delay: .1s
}

.ng-hide-remove {
  animation: fadeIn .3s;
}

.ng-hide-remove-stagger {
  animation-delay: .2s
}

.ng-hide-add {
  animation: fadeOut .3s;
}

.ng-enter:not(.comments) {
  animation: fadeIn .3s;
}
