body {
    background: rgb(240, 240, 240);
}

.account-portal {
  margin-top: 100px
}

.navbar {
  background: rgb(205, 10, 28);
  padding-top: 50px;
  /*padding-bottom: 10px;*/
}

.icon-bar {
  background: white;
}

nav button {
  background: white;
}

nav .dropdown-menu li {
  cursor: pointer;
}

.navbar-brand {
  padding-left: 30px;
  padding-bottom: 25px;
  height: auto;
  font-size: 4em;
  font-weight: lighter;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover{
  color:rgb(232, 232, 232);
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.1em;
  /*padding-bottom: 0px;*/
}

.navbar-default .navbar-nav>li>a:hover {
  color:rgb(232, 232, 232);

}

.modal-header {
  background: rgb(205, 10, 28);
  color: white
}

.submit-button {
  background: rgb(205, 10, 28);
  color: white;
}

.submit-button:hover {
  background: rgb(152, 110, 159);
  color: white;
}

.cancel-button {
  color: white;
}

.cancel-button:hover {
  background: rgb(223, 228, 224);
  color: white;
}


main {
  margin-top: 125px;
}

.post img {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(193, 193, 193);;

}

.post {
  background: white;
  border-top: 2px solid rgb(205, 10, 28);
  padding: 15px;
  margin-bottom: 50px;
}

/*.posVotes {
  color: green
}

.negVotes {
  color: red;
}*/

.post p {
  font-size: 1em;
}

.jumbotron {
  background-color: rgb(236, 237, 252);
  padding: 20px;
}

.portal-bg {
  background-color: rgb(77, 77, 77);
}

.post .glyphicon {
  font-size: 1.1em;
  color: rgb(205, 10, 28);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.logo-up {
  font-weight: normal;
}

.glyphicon:hover {
  cursor: pointer;
}

.glyphicon-arrow-up:active {
  color: green;
}

.glyphicon-arrow-down:active {
  color: red;
}

.error {
  color: rgb(171, 67, 63);
}
/*.ng-move {
  animation: fadeIn .3s;
}

.ng-move-stagger {
  animation-delay: .1s
}

.ng-hide-remove {
  animation: fadeIn .3s;
}

.ng-hide-remove-stagger {
  animation-delay: .2s
}

.ng-hide-add {
  animation: fadeOut .3s;
}

.ng-enter:not(.comments) {
  animation: fadeIn .3s;
}*/
