<div class="nav-wrap">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="posts">
        tune<span class="logo-up">Up</span>
        </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-model='vm.search.query' placeholder="Search...">
          </div>
        </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="vm.changeSortCriteria('-votes')">Most Votes</a></li>
            <li><a ng-click="vm.changeSortCriteria('title')">Alphabetically</a></li>
            <li><a ng-click="vm.changeSortCriteria('-created_at')">Newest</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li ng-show="vm.activeUser.user_id"><a href="#"> Welcome, {{vm.activeUser.username}}!</a></li>
      <li ng-show="vm.activeUser.user_id"><a href="#" data-toggle="modal" data-target="#postCreate">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Submit a Post</a></li>
      <li ng-hide="vm.activeUser.user_id"><a ui-sref="login">Log In</a></li>
      <li ng-hide="vm.activeUser.user_id"><a ui-sref="signup">Sign Up</a></li>
      <li ng-show="vm.activeUser.user_id">
        <a ui-sref="login" ui-sref-opts="{reload:true}" ng-click="vm.logOut()">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log Out</a></li>

   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Post Form Modal -->
<div class="modal fade" id="postCreate" tabindex="-1" role="dialog" aria-labelledby="postCreateLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="postCreatelLabel">Submit a Post</h4>
      </div>
      <div class="modal-body">
        <form name="postForm" novalidate ng-submit="vm.postFormSubmit(postForm)">
          <fieldset class="form-group" ng-class="{'has-error': postForm.title.$invalid && postForm.title.$touched, 'has-success': postForm.title.$valid}">
            <label class="control-label">Headline</label>
            <input type="text" class="form-control" name="title" ng-model="vm.post.title" required placeholder="Enter a Headline">
            <div ng-messages="postForm.title.$error" ng-if="postForm.title.$touched">
              <p ng-message="required" class="control-label">Headline is required.</p>
            </div>
          </fieldset>
          <fieldset class="form-group" ng-class="{'has-error': postForm.description.$invalid && postForm.description.$touched, 'has-success': postForm.description.$valid}">
            <label class="control-label">Description</label>
            <input type="text" class="form-control" name="description" ng-model="vm.post.description" required ng-minlength="3" placeholder="Enter a Description">
            <div ng-messages="postForm.description.$error" ng-if="postForm.description.$touched">
              <p ng-message="minlength" class="control-label">Description must be at least 3 characters</p>
              <p ng-message="required" class="control-label">Desription is required.</p>
            </div>
          </fieldset>
          <fieldset class="form-group" ng-class="{'has-error': postForm.cover.$invalid && postForm.cover.$touched, 'has-success': postForm.cover.$valid}">
            <label class="control-label">Cover Art Link (Square images, please!)</label>
            <input type="url" class="form-control" name="cover" ng-model="vm.post.cover_url" required placeholder="Enter a Cover Art Link">
            <div ng-messages="postForm.cover.$error" ng-if="postForm.cover.$touched">
              <p ng-message="required" class="control-label">A Cover URL is required.</p>
              <p ng-message="url" class="control-label">A valid Cover URL is required.</p>
            </div>
          </fieldset>
          <fieldset class="form-group" ng-class="{'has-error': postForm.track.$invalid && postForm.track.$touched, 'has-success': postForm.track.$valid}">
            <label class="control-label">Title of Best Track</label>
            <input type="text" class="form-control" name="track" ng-model="vm.post.track" required placeholder="Enter the Best Track">
            <div ng-messages="postForm.track.$error" ng-if="postForm.track.$touched">
              <p ng-message="required" class="control-label">Best Track is required.</p>
            </div>
          </fieldset>
          <fieldset class="form-group" ng-class="{'has-error': postForm.track_url.$invalid && postForm.track_url.$touched, 'has-success': postForm.track_url.$valid}">
            <label class="control-label">Best Track Link (i.e. from youTube, SoundClound)</label>
            <input type="url" class="form-control" name="track_url" ng-model="vm.post.track_url" required placeholder="Enter a Track Link">
            <div ng-messages="postForm.track_url.$error" ng-if="postForm.track_url.$touched">
              <p ng-message="required" class="control-label">A Track Link is required.</p>
              <p ng-message="url" class="control-label">A valid Track Link is required.</p>
            </div>
          </fieldset>

          <div class="modal-footer">
            <button type="button" class="btn cancel-button" data-dismiss="modal" ng-click="vm.postFormClose(postForm)">Close</button>
            <button type="submit" class="btn submit-button" data-toggle="modal" data-target="#postCreate" ng-disabled="postForm.$invalid">Submit Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
